.forgot-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.forgot-box {
  background: #fff;
  padding: 30px;
  width: 380px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.forgot-box h2 {
  margin-bottom: 10px;
}

.forgot-box p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.forgot-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.forgot-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.back-login {
  display: block;
  margin-top: 15px;
  color: #007bff;
  cursor: pointer;
}
