
/* 
.paymentcontainer{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: white;
} */

.paymentcontainer {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; /* allows scrolling */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* let body background show through */
  padding: 2rem;
  box-sizing: border-box;
}

form{
    background-color: rgba(185, 181, 181, 0.356);
    width : 550px;
    padding : 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.field input{
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid rgb(28, 206, 215);
    outline : none;
    margin-bottom: 1rem;
    color: rgb(195, 11, 11);
    background-color: rgb(229, 223, 223);
}
.field label{
    margin-bottom: 0.5rem;
}
.paymentcontainer h1{
    text-align: center;
}
.btn{
    padding: 10px 15px;
    background-color: rgb(81, 239, 14);
    color: rgb(255, 0, 0);
    width: 100%;
    margin-top: 1rem;
    border-color: rgb(179, 255, 0);
}


