.paymentcontainer {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; 
  padding: 2rem;
  box-sizing: border-box;
}

form{
    background-color: rgba(185, 181, 181, 0.356);
    width : 550px;
    padding : 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.field input{
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid rgb(28, 206, 215);
    outline : none;
    margin-bottom: 1rem;
    color: rgb(195, 11, 11);
    background-color: rgb(229, 223, 223);
}
.field label{
    margin-bottom: 0.5rem;
}
.paymentcontainer h1{
    text-align: center;
}
.btn{
    padding: 10px 15px;
    background-color: rgb(81, 239, 14);
    color: rgb(255, 0, 0);
    width: 100%;
    margin-top: 1rem;
    border-color: rgb(179, 255, 0);
}


.esewa-loader-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #28a745;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
