
.product-container{
    display : flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width : 90%;
    /* background-color: rgb(56, 55, 55); */
    background-color: rgb(168, 166, 166);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    gap: 20px;
    max-height: 80vh;
    overflow-y: auto;  
    margin-top: 80px;
    margin-left: 230px;
}      
    
.product-image{
    flex: 1 1 40%;
    max-width: 500px;
}
.product-image img{
    width: 100%;
    border-radius: 10px;
}
.product-details{
    flex : 1 1 50%;
    max-width: 500px;
    margin-top: 11%;
    padding-left: 20px;
 
}
.product-title{
    font-size: 2rem;
    margin-bottom: 20px;
    color : #fff;
}
.product-price{
    font-size: 1.5rem;
    color:#fff;
    margin-bottom: 20px;
}
.product-description{
    margin-bottom: 30px;
    font-size : 1rem;
    color: #fff;
    line-height: 1.6;
}
.product-actions{
    display : flex;
    align-items: center;
    gap : 10px;

}
.product-actions label{
    font-size: 1rem;
    color : #fff;

}
.product-actions input[type='number']{
    width: 60px;
    padding : 10px;
    font-size : 1rem;
    border: 1px solid #fff;
    border-radius: 5px;
}
.addtocart{
    background-color: #eebe80;
    color : #fff;
    padding : 10px 20px;
    border : none;
    border-radius: 5px;
    cursor : pointer;
    border : 2px solid gray;
    font-size: 1rem;
}
.addtocart:hover{
    background-color: white;
    color: #f08f08;
    border: 2px solid #fff;
}
.buy{
    background-color: #eebe80;
    color : #fff;
    padding : 10px 20px;
    border : none;
    border-radius: 5px;
    cursor : pointer;
    border : 2px solid gray;
    font-size: 1rem;
}
.buy:hover{
    background-color: white;
    color: #f08f08;
    border: 2px solid #fff;
}
.category{
    color : #fff;
    margin-top : 20px;
}
@media (max-width : 768px){
    .container{
        flex-direction: column;
        align-items: center;
    }
    .product-image, .product-details{
        flex : 1 1 100%;
        max-width: 100%;
    }
    .product-actions{
        justify-content: center;
    }
}