.container-card {
  display: flex;
  flex-wrap: wrap;          
  gap: 30px;                
  padding: 20px;
  padding-left: 70px;
  padding-right: 0;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start; 
}

.card {
  flex: 1 1 280px;          
  max-width: 280px;         
  padding: 20px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.04);
  transition: 0.4s ease;
  margin: 0;
  text-decoration: none;
  color: inherit; 
}

.card:hover {
  transform: scale(1.05);
}
  .card .card-image{
    position: relative;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    background: #f4f7f8;
    border-radius: 12px;
  }
  .card .card-image img{
    width: 100%;
    transition: .4s ease;
    height: 100%;
    object-fit: cover;

  }
    /* .card:hover .card-image img{
    transform: scale(1.02)
               rotate(-3deg)
               translateX(-5px);

  } */
  .card-image .bx-star{
    cursor: pointer;
    position: absolute;
    top : 12px;
    right: 12px;
    padding: 10px;
    font-size: 20px;
    color:#f7ae04;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .04);

   }
   .card .card-content h3{
    color: #222;
    font-size: 22px;
    margin-top: 20px;
   }
   .card .card-content p{
    margin: 8px 0 22px;
    color: #555;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
   }
   .card .card-content button{
    cursor: pointer;
    color: #fff;
    width : 100%;
    height: 50px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 12px;
    background:   #f0ba79;
   } 
.card-link {
  text-decoration: none;
  color: inherit;
  display: block; 
}
.card .card-content .price {
  color: #e39f00;
  font-size: 20px;   
  font-weight: 600;            
  margin: 5px 0 10px;          
  text-align: left;            
  letter-spacing: 0.5px;       
}

